@{
    ViewData["Title"] = "Hello";
}

@model IEnumerable<WalmartParser.Models.ShoesDb>

<!DOCTYPE html>
 
<html>
<head>
    <title>Man Shoes</title>
</head>
<body>
    <h3>Man Shoes</h3>
<table>
    <tr>
        <td>Picture</td>
        <td>Brand Name</td>
        <td>Model Title</td>
        <td>Price</td>
    </tr>
    @foreach (var shoes in @ViewBag.shoes)
    {
        <tr>
            <td><img src="@shoes.Image" /></td>
            <td>@shoes.BrandName</td>
            <td>@shoes.Name</td>
            <td>@shoes.Prise</td>
        </tr>
    }
</table>
</body>
</html>
