@{
    ViewData["Title"] = "Walmart Parser";
}

@model IEnumerable<WalmartParser.Models.Shoes>

<!DOCTYPE html>
 
<html>
<head>
    <title>Man Shoes</title>
</head>
<body>
    <h3>Man Shoes</h3>
<table>
    <tr>
        <td>Picture</td>
        <td>Brand Name</td>
        <td>Model Title</td>
        <td>Options</td>
        <td>Price</td>
    </tr>
    @foreach (var shoes in Model)
    {
    <tr>
        <td><img src="@shoes.ShoesImageUrl" /></td>
        <td>@shoes.ShoesBrand</td>
        <td>@shoes.ShoesTitle</td>
        <td>@foreach (var item in shoes.ShoesVariants)
        {
            <td>@item</td>
            <br />

        }
        </td>
        <td>@shoes.ShoesPrice</td>
    </tr>
    }
</table>
</body>
</html>
